@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Laelaps Design Academy</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/wwwroot/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/wwwroot/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body class="bodyBackGround">
    <div class="width-full container body-content">
        <div class="row">
            <div class="col-lg-12">
                <div style="text-align:center">
                    <img class="pic-full" src="~/wwwroot/images/Home/Ben_Zhang.jpg" />
                    <img class="pic-full" src="~/wwwroot/images/Home/john_park.jpg" />
                    <img class="pic-full" src="~/wwwroot/images/Home/LIia_Yu.jpg" />
                    <img class="pic-full" src="~/wwwroot/images/Home/Qiu_fang.jpg" />
                    <img class="pic-full" src="~/wwwroot/images/Home/Zeronis.jpg" />
                </div>
            </div>
        </div>
        <div class="headerWrapper row">
            <div id="header">
                <div id="logo">
                    <div class="logoContent">

                    </div>
                </div>
                <div id="topNav">
                    <nav class="main-nav">
                        <ul>
                            <li class="page-collection">
                                @Html.ActionLink("About", "Index", "About")
                            </li>
                            <li class="page-collection">
                                @Html.ActionLink("Courses", "Index", "Courses")
                            </li>
                            <li class="page-collection">
                                @Html.ActionLink("PortfolioPrep", "Index", "PortfolioPrep")
                            </li>
                            <li class="page-collection">
                                @Html.ActionLink("Gallery", "Index", "Gallery")
                            </li>
                            <li class="page-collection">
                                <a href="http://www.laelapsdesign.com" target="_blank">OUTSOURCING</a>
                            </li>
                            <li class="page-collection">
                                @Html.ActionLink("Contact", "Index", "Contact")
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <environment include="Development">
        <script src="~/wwwroot/lib/jquery/dist/jquery.js"></script>
        <script src="~/wwwroot/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/wwwroot/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/wwwroot/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/wwwroot/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        var height = $(window).height();
        console.log(height);
        $(".pic-full").css("max-height", height - 60);

        var enabled = true;
        var index = 0;
        var imgs = $(".pic-full");
        imgs.hide();
        $(imgs[index]).fadeIn("fast");
        imgs.click(function (i)
        {            
            imgs.fadeOut("fast");
            index++;
            if (index == imgs.length) {
                index = 0;
            }
            $(imgs[index]).fadeIn("fast");
        });
        window.setInterval(function (i)
        {
            enabled = false;
            imgs.fadeOut("fast");
            index++;
            if (index == imgs.length) {
                index = 0;
            }
            $(imgs[index]).fadeIn("fast");
            enabled = true;
        }, 8000);



    </script>
</body>
</html>
