<br />
<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
    <div id="innerdiv" style="position:absolute;">
        <img id="bigimg" style="border:5px solid #fff;" src="" />
    </div>
    <div class="outerdiv-left">

    </div>
    <div class="outerdiv-right">

    </div>
    <a class="outerdiv-close">
        ×
    </a>

</div>
<section>
    <div class="container courses-title">
        <div class="row">
            <div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    @*<a asp-area="" asp-controller="Gallery" asp-action="Student" class="text-center Gallery-link">Students</a>*@
                    @Html.ActionLink("Students", "Student", "Gallery", new { area = "" }, new { @class = "text-center Gallery-link line-block", @id= "Student" })
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    @*<a asp-area="" asp-controller="Gallery" asp-action="Instructors" class="text-center Gallery-link">Instructors</a>*@
                    @Html.ActionLink("Instructors", "Instructors", "Gallery", new { area = "" }, new { @class = "text-center Gallery-link line-block", @id = "Instructors" })
                </div>
            </div>
            <div>
                @foreach (var item in ViewData["list"] as List<string>)
                {
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        @*<div class="over_content-centered over_content Portfooio-img">
                            <img class="Gallery-content-img" src="@item" />
                            </div>*@
                        <div class="pic-inner over_content over_content-centered div-relative ">
                            <img class="pic-courses div-child galley-pic" src="@item" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(".galley-pic").click(function () {
                var _this = $(this);
                imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
            });
            var data = '@ViewData["data"].ToString()';
            if (data == "students") {
                $("#Student").addClass("galley-link-selected");
                $("#Instructors").addClass("galley-link-noSelected");
            }
            if (data == "teachers") {
                $("#Instructors").addClass("galley-link-selected");
                $("#Student").addClass("galley-link-noSelected");
            }
        });           
    </script>
}